body{
    margin: 0px;
    font-family: "Roboto";
}

.container{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 2fr 8fr;
    width: 100vw;
    height: 100vh;
    background-color: orange;
}

.siderbar{
    background-color: rgb(25, 146, 212);
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: 90px 4fr 5fr;
    color: white;
    padding-left: 20px;
    font-size: 15px;
}

svg{
    fill: white;
    height: 20px;
    width: 20px;
}

.branding{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    font-size: 30px;
    margin-left: -10px;
}

.branding > svg{
    height: 70px;
    width: 70px;
}

.branding > span{
    font-weight: bold;
}

.main-navigation {
    margin-top: 20px;
    margin-bottom: 60px;
}

.main-navigation , .other-navigation{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-navigation > div , .other-navigation > div{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.header{
    background-color: white;
}

.searchbar{
    display: flex;
}

.searchbar > input[type="image"] , .setting > svg {
    height: 25px;
    width: 25px;
}
.searchbar > input[type="text"]{
    border-radius: 10px;
}

.setting > svg{
    fill: black;
}


.content{
    background-color: rgba(226, 232, 240);
}
