.container{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 2fr 8fr;
    width: 100vw;
    height: 100vh;
    background-color: orange;
}

.siderbar{
    background-color: rgb(25, 146, 212);
    grid-row: 1 / span 2;
}

svg{
    fill: red;
}

.header{
    background-color: white;
}

.content{
    background-color: rgba(226, 232, 240);
}
