body{
    margin: 0px;
    font-family: "Roboto";
}

.container{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 2fr 8fr;
    width: 100vw;
    height: 100vh;
    background-color: orange;
}

.siderbar{
    background-color: rgb(25, 146, 212);
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: 90px 4fr 5fr;
    color: white;
    padding-left: 20px;
    font-size: 15px;
}

svg{
    fill: white;
    height: 20px;
    width: 20px;
}

.branding{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    font-size: 30px;
    margin-left: -10px;
}

.branding > svg{
    height: 70px;
    width: 70px;
}

.branding > span{
    font-weight: bold;
}

.main-navigation {
    margin-top: 20px;
    margin-bottom: 60px;
}

.main-navigation , .other-navigation{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-navigation > div , .other-navigation > div{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.header{
    background-color: white;
    padding: 10px 60px 10px 20px;
    border-bottom: 5px solid rgb(201, 209, 220);
}

.upper{
    display: grid;
    grid-template-columns: 6fr 4fr;
}

.searchbar , .setting{
    display: flex;
    align-items: center;
}

.searchbar{
    gap: 10px;
    flex-grow: 1;
}

.setting{
    gap: 20px;
}

.searchbar > input[type="image"] , .setting > svg {
    height: 25px;
    width: 25px;
}

.searchbar > input[type="text"]{
    height: 20px;
    border-radius: 10px;
    flex-grow: 1;
    background-color: rgb(226, 232, 240);
    border: none;
}

.setting > svg{
    margin-left: 200px;
    fill: black;
}

.setting > img{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.setting > span{
    font-weight: bold;
}

.lower{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 7fr 3fr;
    align-items: center;
}


.information{
    display: flex;
    align-items: center;
    gap: 20px;
}

.information > img{
    height: 65px;
    width: 65px;
    border-radius: calc(65px/2);
}

.detail > div:last-child{
    font-size: 25px;
    font-weight: bold;
}

.buttons{
    display: flex;
    gap: 30px;
}

.buttons > button{
    background-color: rgb(25, 146, 212);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}

.content{
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgba(226, 232, 240);
    display: grid;
    grid-template-columns: 7fr 3fr ;
    gap: 20px;
}

.project{
    grid-row: 1 / span 2;
}

.section-name{
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(70, 69, 69);
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}

.card {
    background-color: white;
    border-left: 5px solid orange;
    border-radius: 5px;
    padding: 20px 10px;
}

.card div:nth-child(1){
    font-weight: bold;
    margin-bottom: 5px;
}

.card div:nth-child(2){
    font-size: 0.9em;
    color: rgb(104, 99, 99);
}

.action{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-right: 10px;
}

.action > svg{
    fill: black;
}
